{# Layout #}
{% extends "layout/_layout.njk" %}

{# Scripts #}
{% block scripts %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
	<script type="text/javascript"> hljs.initHighlightingOnLoad(); </script>
{% endblock %}

{# Imports #}
{% from "components/_button.njk" import button %}

{% block main %}
	<h1>Guideline</h1>
	{{button('Arroz', class='btn-default')}}
	{{button('Arroz', class='btn-default', format='href', link='/arroz.html')}}

<pre><code class="html">
{% filter escape %}
{{ button('Arroz')}}
{% endfilter %}
</code></pre>

{% endblock %}
