<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{{ page_title }}</title>
  <link rel="stylesheet" href="css/main.css">
  <script type="text/javascript" src="js/main.js"></script>
  <link rel="icon" href="https://i.stack.imgur.com/Mmww2.png" />
  {% block scripts %}{% endblock %}
  {# <script type="text/javascript" src="js/vendors/highlight.min.js"></script> #}
</head>

<body>
  {% include "partials/_header.njk" %}

  {% block main %}{% endblock %}

</body>
</html>
