// FONT SIZE //
$size-giant = 76px
$size-wide = 46px
$size-big = 44px
$size-large = 34px
$size-medium = 30px
$size-regular = 22px
$size-small = 20px
$size-normal = 16px
$size-tiny = 15px
$size-short = 14px
$size-little = 12px

// FONT WEIGHTS //
$w-light = 300
$w-regular = 400
$w-semibold = 600
$w-bold = 700

// RESPONSIVE
$tablet = 1200px
$tablet-medium = 900px
$mobile = 767px
$mobile-medium = 500px
